{% extends 'base.html' %}
{% load static %}

{% block assets %}
    <script src="{% static 'js/upload.js' %}"></script>
{% endblock %}


{% block content %}

    <div class="col-sm-7">
            <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{ form.file.label_tag }}</h3>
                    </div>
                    <div class="panel-body">
                      <p>{{ form.non_field_errors }}</p>
                        <div class="col-sm-9">
                            <p>
                                {{ form.file.errors }}
                                {{ form.file }}
                            </p>
                        </div>

                    <input type="submit" value="Upload" class="btn btn-primary" id="submit_upload"/>
                    </div>
              </div>
            </form>

            {% if receita %}
                <div class="panel panel-primary">
                    <div class="panel-heading">Arquivo  Importado: <b>{{ file_name }}</b></div>
                    <div class="panel-body">
                        Receita Total : {{ receita }}
                    </div>
                </div>
            {% endif %}

    </div>

{% endblock %}